@import 'reset';
@import 'variables';

main {
    height:100vh;
    width: 100vw;
}

@mixin fixed() {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
}

.image-container {
    @include fixed;
    width: 35%;
    left: 0;
    text-align: center;
    background-image: url(/images/derek-oyen-4ReskwNsh68-unsplash.jpg);
    background-size: cover;
    font-size: 24px;

    .logo-container {
        display: flex;
        margin-top: 35%;
        background-color: $dark-background;
        padding: 12px 0;
        justify-content: center;
        align-items: center;
        font-family: 'Staatliches', cursive;
        letter-spacing: 0.3rem;
    }

    #image-credit {
        font-size: 0.8rem;
        color: white;
        position: fixed;
        bottom: 10px;
        width: inherit;
        text-align: center;
    }
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 0.5rem;
}

.logo-title {
    color: white;
    margin-left: 0.5rem;
}

.form-container {
    @include fixed;
    width: 65%;
    right: 0;
}